<a href="https://colab.research.google.com/github/jassynavarro/CCDATSCL_EXCERCISES_COM221/blob/main/Exercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

<img src="https://img.itch.zone/aW1nLzM0MzUxOTUuanBn/original/FuMxog.jpg" />

In this exercise, you will perform EDA on the popular Pokémon dataset, which contains detailed information about hundreds of Pokémon, including their stats, types, generation, and whether they are legendary.

The Pokémon dataset is ideal for practicing EDA because it includes a mix of numerical features (such as Attack, Defense, Speed, HP) and categorical features (such as Type 1, Type 2, and Generation). This combination allows you to apply a wide range of EDA techniques, including summary statistics, data visualizations, grouping and aggregation, correlation analysis, and comparisons across categories.

Throughout the exercise, you will explore questions such as:
- Which Pokémon tend to have the highest or lowest stats?
- How do different Pokémon types compare in terms of strength or defense?
- Do Legendary Pokémon differ significantly from non-Legendary ones?
- How are various stats distributed across the entire dataset?
- Are there relationships or trade-offs between certain attributes (e.g., Attack vs. Defense)?

In [1]:
import kagglehub
import os
import pandas as pd

In [2]:
# Download latest version
path = kagglehub.dataset_download("abcsds/pokemon")
print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/abcsds/pokemon?dataset_version_number=2...

100%|██████████| 14.9k/14.9k [00:00<00:00, 13.6MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/abcsds/pokemon/versions/2

In [3]:
if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

True


## 1: Data Understanding (4 pts)

1. Display the first 10 rows.

In [4]:
# put your answer here
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

2. Show dataset shape.

In [5]:
# put your answer here
df.shape

(800, 13)

3. Show all columns and its data types.

In [6]:
# put your answer here
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

4. Identify which columns contain missing values.

In [7]:
# put your answer here
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

## 2. Summary Statistics (4 pts)

1. Generate `df.describe()`.

In [8]:
# put your answer here
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

2. Get mean, median, and mode of Attack.

In [10]:
# put your answer here
df['Attack'].mean()

np.float64(79.00125)

In [11]:
df['Attack'].median()

75.0

In [12]:
df['Attack'].mode()

0    100
Name: Attack, dtype: int64

3. Compute 25th and 75th percentiles for HP.

In [14]:
# put your answer here
df['HP'].quantile(0.25)

np.float64(50.0)

In [15]:
df['HP'].quantile(0.75)

np.float64(80.0)

4. Compute standard deviation and variance of Speed.

In [16]:
# put your answer here
df['Speed'].std()

29.06047371716149

In [17]:
df['Speed'].var()

844.5111326658338

## 3. Filtering & Selection `(7 pts)`

Select all Pokémon with Attack > 100.

In [20]:
# put your answer here
df[df['Attack'] > 100]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Select all Pokémon whose primary type (Type 1) is "Fire".

In [21]:
# put your answer here
df[df['Type 1'] == "Fire"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Select all Pokémon that are Legendary.

In [22]:
# put your answer here
df[df['Legendary'] == True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Select all Pokémon that are Generation 1 AND Legendary.

In [23]:
# put your answer here
df[(df['Legendary'] == True) & (df['Generation'] == 1)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True

Select all Pokémon that are Water type OR Grass type.

In [24]:
# put your answer here
df[(df['Type 1'] == "Water") | (df['Type 1'] == "Grass")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

Select all Pokémon that are Fire type AND Attack > 120.

In [25]:
# put your answer here
df[(df['Type 1'] == "Fire") & (df['Attack'] > 120)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False

Select all Pokémon whose type is in this list:
`["Dragon", "Ghost", "Dark"]`.

In [26]:
# put your answer here
df[df['Type 1'].isin(["Dragon", "Ghost", "Dark"])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,405,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
159,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

## 4. Categorical Exploration `(9 pts)`

Find the number of Pokémon per primary type.

In [28]:
# put your answer here
df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Find the number of Pokémon per generation.

In [29]:
# put your answer here
df['Generation'].value_counts()

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

Which type appears the most? Which appears the least?

In [30]:
 # put your answer here
type_counts = df['Type 1'].value_counts()
most_common_type = type_counts.idxmax()
least_common_type = type_counts.idxmin()

print(f"Appears the most: {most_common_type}")
print(f"Appears the least: {least_common_type}")

Appears the most: Water
Appears the least: Flying

How many unique primary types (Type 1) exist?

In [31]:
 # put your answer here
df['Type 1'].nunique()

18

How many unique secondary types (Type 2) exist?

In [33]:
 # put your answer here
df['Type 2'].nunique()

18


Which primary types have the most dual-type combinations?

In [41]:
 # put your answer here
unique_type2_counts = df.groupby('Type 1')['Type 2'].nunique()
print("Number of unique Type 2 combinations per Type 1:")
print(unique_type2_counts)

Number of unique Type 2 combinations per Type 1:
Type 1
Bug         11
Dark         8
Dragon       7
Electric    10
Fairy        1
Fighting     4
Fire         9
Flying       1
Ghost        6
Grass       10
Ground       9
Ice          5
Normal       7
Poison       7
Psychic      7
Rock        12
Steel        8
Water       14
Name: Type 2, dtype: int64

In [43]:

most_unique_type2 = unique_type2_counts.idxmax()
print(f"\nThe primary type with the the most dual-type combinations: {most_unique_type2}")

The primary type with the the most dual-type combinations: Water

Which type has the highest mean Attack?

In [44]:
# put your answer here
mean_attack_by_type = df.groupby('Type 1')['Attack'].mean()

highest_attack_type = mean_attack_by_type.idxmax()
highest_attack_value = mean_attack_by_type.max()

print(f"The type with the highest mean Attack stat is {highest_attack_type} with a mean Attack of {highest_attack_value}.")

The type with the highest mean Attack stat is Dragon with a mean Attack of 112.125.

Which type has the lowest mean Defense?

In [46]:
# put your answer here
mean_defense_by_type = df.groupby('Type 1')['Defense'].mean()

lowest_defense_type = mean_defense_by_type.idxmin()
lowest_defense_value = mean_defense_by_type.min()

print(f"The type with the lowest mean Defense stat is {lowest_defense_type} with a mean Defense of {lowest_defense_value}.")

The type with the lowest mean Defense stat is Normal with a mean Defense of 59.8469387755102.


Which generation has the highest average Speed?

In [48]:
# put your answer here
ave_speed_by_generation = df.groupby('Generation')['Speed'].mean()

highest_speed_type = ave_speed_by_generation.idxmax()
highest_speed_value = ave_speed_by_generation.max()

print(f"The Generation with the highest average Speed stat is {highest_speed_type} with an average Speed of {highest_speed_value}.")

The Generation with the highest average Speed stat is 1 with an average Speed of 72.58433734939759.

## 5. Groupby & Aggregation `(13 pts)`

Compute the average Attack per primary type.

In [49]:
# put your answer here

df.groupby('Type 1')['Attack'].mean()

Type 1
Bug          70.971014
Dark         88.387097
Dragon      112.125000
Electric     69.090909
Fairy        61.529412
Fighting     96.777778
Fire         84.769231
Flying       78.750000
Ghost        73.781250
Grass        73.214286
Ground       95.750000
Ice          72.750000
Normal       73.469388
Poison       74.678571
Psychic      71.456140
Rock         92.863636
Steel        92.703704
Water        74.151786
Name: Attack, dtype: float64

Compute the maximum HP per generation.

In [51]:
# put your answer here
df.groupby('Generation')['HP'].max()

Generation
1    250
2    255
3    170
4    150
5    165
6    126
Name: HP, dtype: int64

Compute the total number of Pokémon per primary type.

In [53]:
# put your answer here
df.groupby('Type 1')['Name'].size()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

For each type, compute:

- mean Attack

- mean Defense

- mean Speed

In [55]:
# put your answer here
mean_stats_by_type1 = df.groupby('Type 1')[['Attack', 'Defense', 'Speed']].mean()
mean_stats_by_type2 = df.groupby('Type 2')[['Attack', 'Defense', 'Speed']].mean()
# Displaying the result
print(mean_stats_by_type1)
print(mean_stats_by_type2)

              Attack     Defense       Speed
Type 1
Bug        70.971014   70.724638   61.681159
Dark       88.387097   70.225806   76.161290
Dragon    112.125000   86.375000   83.031250
Electric   69.090909   66.295455   84.500000
Fairy      61.529412   65.705882   48.588235
Fighting   96.777778   65.925926   66.074074
Fire       84.769231   67.769231   74.442308
Flying     78.750000   66.250000  102.500000
Ghost      73.781250   81.187500   64.343750
Grass      73.214286   70.800000   61.928571
Ground     95.750000   84.843750   63.906250
Ice        72.750000   71.416667   63.458333
Normal     73.469388   59.846939   71.551020
Poison     74.678571   68.821429   63.571429
Psychic    71.456140   67.684211   81.491228
Rock       92.863636  100.795455   55.909091
Steel      92.703704  126.370370   55.259259
Water      74.151786   72.946429   65.964286
              Attack     Defense      Speed
Type 2
Bug        90.000000   80.000000  61.666667
Dark      109.800000   72.050000  75.350000
Dragon     94.444444   87.055556  80.555556
Electric   72.666667   68.333333  71.500000
Fairy      61.608696   73.869565  61.217391
Fighting  112.846154   82.500000  87.384615
Fire       81.250000   80.166667  79.666667
Flying     80.288660   68.309278  85.721649
Ghost      84.142857   82.285714  53.857143
Grass      74.160000   80.120000  57.320000
Ground     89.857143   90.314286  54.657143
Ice        98.000000   85.642857  74.642857
Normal     52.750000   53.750000  89.250000
Poison     67.588235   59.558824  66.647059
Psychic    74.696970   87.030303  69.484848
Rock       84.000000  126.857143  36.000000
Steel      92.590909  104.636364  59.363636
Water      70.142857   85.071429  57.142857

For each generation, compute:

- count

- mean Total

- number of Legendary Pokémon (hint: use sum on Boolean)

In [58]:
# put your answer here
grouped_by_gen = df.groupby('Generation')

# Calculating the count of Pokémon, mean of 'Total', and number of Legendary Pokémon for each generation
result = grouped_by_gen.agg(
    count=('Name', 'size'),
    mean_total=('Total', 'mean'),
    num_legendary=('Legendary', lambda x: x.sum())  # Sum of Boolean values (True = 1, False = 0)
)

print(result)

            count  mean_total  num_legendary
Generation
1             166  426.813253              6
2             106  418.283019              5
3             160  436.225000             18
4             121  459.016529             13
5             165  434.987879             15
6              82  436.378049              8

Which type combination (Type 1 + Type 2) has the highest average Attack?

In [59]:
# put your answer here
# Combining Type 1 and Type 2 to create a unique Type combination
df['Type Combination'] = df['Type 1'] + " + " + df['Type 2']

# Grouping by 'Type Combination' and calculating the mean 'Attack' for each combination
mean_attack_by_combination = df.groupby('Type Combination')['Attack'].mean()

# Finding the type combination with the highest mean attack
highest_attack_combination = mean_attack_by_combination.idxmax()
highest_attack_value = mean_attack_by_combination.max()

print(f"The type combination with the highest average Attack is {highest_attack_combination} with an average Attack of {highest_attack_value:.2f}.")

The type combination with the highest average Attack is Ground + Fire with an average Attack of 180.00.

Which generation has the highest proportion of Legendary Pokémon?

In [60]:
# put your answer here
# Grouping by 'Generation' to count total Pokémon and Legendary Pokémon
gen_grouped = df.groupby('Generation').agg(
    total_pokemon=('Name', 'size'),
    legendary_pokemon=('Legendary', lambda x: x.sum())
)

# Calculating the proportion of Legendary Pokémon in each generation
gen_grouped['legendary_proportion'] = gen_grouped['legendary_pokemon'] / gen_grouped['total_pokemon']

# Finding the generation with the highest proportion of Legendary Pokémon
highest_proportion_gen = gen_grouped['legendary_proportion'].idxmax()
highest_proportion_value = gen_grouped['legendary_proportion'].max()

print(f"The generation with the highest proportion of Legendary Pokémon is Generation {highest_proportion_gen} with a proportion of {highest_proportion_value:.2f}.")

The generation with the highest proportion of Legendary Pokémon is Generation 3 with a proportion of 0.11.


Which primary type has the largest variance in HP?

In [61]:
# put your answer here
# Grouping by 'Primary Type' and calculating the variance of 'HP' for each primary type
hp_variance_by_type = df.groupby('Type 1')['HP'].var()

# Finding the primary type with the largest variance in HP
largest_variance_type = hp_variance_by_type.idxmax()
largest_variance_value = hp_variance_by_type.max()

print(f"The primary type with the largest variance in HP is {largest_variance_type} with a variance of {largest_variance_value:.2f}.")

The primary type with the largest variance in HP is Normal with a variance of 1312.86.

Which primary type has the highest median Speed?

In [62]:
# put your answer here
# Grouping by 'Primary Type' and calculating the median 'Speed' for each primary type
median_speed_by_type = df.groupby('Type 1')['Speed'].median()

# Finding the primary type with the highest median Speed
highest_median_speed_type = median_speed_by_type.idxmax()
highest_median_speed_value = median_speed_by_type.max()

print(f"The primary type with the highest median Speed is {highest_median_speed_type} with a median Speed of {highest_median_speed_value}.")

The primary type with the highest median Speed is Flying with a median Speed of 116.0.

Group Pokémon by whether they are Legendary or not. Compare:

- mean Total

- mean Attack

- mean Defense

- mean Speed

In [63]:
# put your answer here
# Grouping by 'Legendary' and calculating the mean for Total, Attack, Defense, and Speed
grouped_by_legendary = df.groupby('Legendary')[['Total', 'Attack', 'Defense', 'Speed']].mean()

# Displaying the result
print(grouped_by_legendary)

                Total      Attack    Defense       Speed
Legendary
False      417.213605   75.669388  71.559184   65.455782
True       637.384615  116.676923  99.661538  100.184615

Show the top 5 strongest types by mean Total.

In [64]:
# put your answer here

# Grouping by 'Primary Type' and calculating the mean 'Total' for each type
mean_total_by_type = df.groupby('Type 1')['Total'].mean()

# Sorting the values in descending order to get the top 5 strongest types
top_5_strongest_types = mean_total_by_type.sort_values(ascending=False).head(5)

# Displaying the result
print(top_5_strongest_types)

Type 1
Dragon     550.531250
Steel      487.703704
Flying     485.000000
Psychic    475.947368
Fire       458.076923
Name: Total, dtype: float64

Rank generations by their average Attack.

In [65]:
# put your answer here
# Grouping by 'Generation' and calculating the mean 'Attack' for each generation
mean_attack_by_gen = df.groupby('Generation')['Attack'].mean()

# Sorting the generations by mean 'Attack' in descending order
ranked_generations = mean_attack_by_gen.sort_values(ascending=False)

# Displaying the result
print(ranked_generations)

Generation
4    82.867769
5    82.066667
3    81.625000
1    76.638554
6    75.804878
2    72.028302
Name: Attack, dtype: float64

Show the top 10 fastest Pokémon using nlargest(10, "Speed").

In [68]:
# put your answer here
# Using nlargest to get the top 10 fastest Pokémon based on the 'Speed' column
top_10_fastest_pokemon = df.nlargest(10, 'Speed')

# Displaying the result
print(top_10_fastest_pokemon[['Name', 'Speed']])

                          Name  Speed
431          DeoxysSpeed Forme    180
315                    Ninjask    160
71       AlakazamMega Alakazam    150
154  AerodactylMega Aerodactyl    150
428         DeoxysNormal Forme    150
429         DeoxysAttack Forme    150
19       BeedrillMega Beedrill    145
275      SceptileMega Sceptile    145
678                   Accelgor    145
109                  Electrode    140